<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>description</key>
	<string>https://www.gnu.org/software/bison/manual/html_node/index.html</string>
	<key>name</key>
	<string>Bison</string>
	<key>uuid</key>
	<string>A8A52DF1-BAFB-4071-B738-16CE26F78B0A</string>
</dict>
</plist>
